<form style="width:100%;" [formGroup]="editTaskForm">
  <!-- -->
  <section class="example-section">
    <mat-form-field>
      <input matInput formControlName="description" />
    </mat-form-field>
  </section>

  <section class="example-section">
    <mat-form-field>
      <input
        matInput
        [matDatepicker]="remindAtDatePicker"
        placeholder="Remind date"
        formControlName="remindDate"
      />
      <mat-datepicker-toggle matSuffix [for]="remindAtDatePicker">
      </mat-datepicker-toggle>
      <mat-datepicker #remindAtDatePicker disabled="false"></mat-datepicker>
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="Remind Time" formControlName="remindTime" />
    </mat-form-field>
  </section>

  <!-- -->
  <section class="example-section">
    <mat-form-field>
      <input
        matInput
        [matDatepicker]="dueDatePicker"
        placeholder="Add due date"
        formControlName="dueDate"
      />
      <mat-datepicker-toggle matSuffix [for]="dueDatePicker">
      </mat-datepicker-toggle>
      <mat-datepicker #dueDatePicker disabled="false"></mat-datepicker>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Repeat</mat-label>
      <mat-select formControlName="repeat">
        <mat-option *ngFor="let frequency of frequencies" [value]="frequency">
          {{ frequency }}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </section>

  <!-- -->
  <section class="example-section">
    <mat-form-field style="width:50%">
      <textarea
        matInput
        placeholder="Add a note"
        formControlName="notes"
      ></textarea>
    </mat-form-field>
  </section>
</form>
